<script defer src="/js/search.js"></script>
<div class='container'>
  <h1>Найди своего ментора
  </h1>
  <form action="/" method="POST", name="searchTag">
  <div class ="btn-tags">

  {{#each tag}}
  <button data-id="{{this.id}}" value="{{this.title}}" class="btn">
  {{this.title}}
</button>
  {{/each}}
  </div>
  </form>
  <div class="search-container">
    <form action='/' method='post' name="searcher3000">
      <div class='mdl-textfield mdl-js-textfield'>
        <label class='mdl-textfield__label' for='search'>
        </label>
        <input
        id="search"
          class='mdl-textfield__input'
          type='text'
          name='search'
          placeholder='найти ментора'
        />
<!-- Flat button -->
      </div>
    </form>

  </div class="row">

      <ul id="search-list">
      {{#each mentor}}
        <li >
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="{{this.img}}">
                  <span class="card-title">{{this.name}}</span>
                </div>
                <div class="card-content">
                  <p>{{this.body}}</p>
                </div>
                <div class="card-action">
                  <a href="#">Подробней</a>
                </div>
              </div>
            </div>
        </li>
      {{/each}}
      </ul>
</div>




